@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.5); /* Dark background */
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.5); /* Slightly lighter than track */
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.5); /* Even lighter on hover */
}